if BOARD_HYDROGEN_DH006

config BOARD
	default "dh006"

endif

if BOARD_HYDROGEN_DH008

config BOARD
	default "dh008"

endif

if BOARD_HYDROGEN_TH283

config BOARD
	default "th283"

endif

if BOARD_HYDROGEN_TH294

config BOARD
	default "th294"

endif

if BOARD_HYDROGEN_NEXYS4DDR

config BOARD
	default "nexys4ddr"

endif
