/*
 * Copyright (c) 2021 Phytec Messtechnik GmbH
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <hydrogen3.dtsi>

/ {
	model = "hydrogen_nexys4ddr";
	compatible = "hydrogen,hydrogen_nexys4ddr";

	aliases {
		uart-0 = &uart0;
		gpio-0 = &gpio0;
		gpio-1 = &gpio1;
	};

	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,sram = &ram0;
	};

	leds {
		compatible = "gpio-leds";

		heartbeat: HEARTBEAT {
			gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
			label = "Heartbeat LED";
		};

		ok: OK {
			gpios = <&gpio0 1 GPIO_ACTIVE_HIGH>;
			label = "Status OK LED";
		};

		error: ERROR {
			gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
			label = "Status error LED";
		};
	};

	keys {
		compatible = "gpio-keys";

		reset: RESET {
			gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
			label = "Reset Button";
		};

		player1_arrow_right: PLAYER1_ARROW_RIGHT {
			gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;
			label = "Player1 Arrow Right Button";
		};

		player1_arrow_up: PLAYER1_ARROW_UP {
			gpios = <&gpio1 0 GPIO_ACTIVE_HIGH>;
			label = "Player1 Arrow Up Button";
		};

		player1_arrow_left: PLAYER1_ARROW_LEFT {
			gpios = <&gpio1 3 GPIO_ACTIVE_HIGH>;
			label = "Player1 Arrow Left Button";
		};

		player1_arrow_down: PLAYER1_ARROW_DOWN {
			gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;
			label = "Player1 Arrow Down Button";
		};

		player1_select: PLAYER1_SELECT {
			gpios = <&gpio1 4 GPIO_ACTIVE_HIGH>;
			label = "Player1 Select Button";
		};
	};
};
