/*
 * Copyright (c) 2020 Phytec Messtechnik GmbH
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <dt-bindings/gpio/gpio.h>

/ {
	#address-cells = <1>;
	#size-cells = <1>;

	aliases {
		uart-0 = &uart0;
		gpio-0 = &gpio0;
		spi-0 = &spi0;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			compatible = "vexriscv", "riscv";
			reg = <0>;
			device_type = "cpu";
			riscv,isa = "rv32i";
		};
	};

	memory {
		#address-cells = <1>;
		#size-cells = <1>;

		ram0: memory@80000000 {
			device_type = "memory";
			compatible = "mmio-sram";
			reg = <0x80000000 0x00020000>;
		};
	};

	soc {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "hydrogen,hydrogen-soc", "simple-bus";
		ranges;

		plic: interrupt-controller@f00f0000 {
			compatible = "hydrogen,plic-0";
			#interrupt-cells = <1>;
			interrupt-controller;
			reg = <0xF00F0000 0x2000
			       0xF00F2000 0xF000
			       0xF00FF000 0x10000>;
			reg-names = "prio", "irq_en", "reg";
			riscv,max-priority = <7>;
			riscv,ndev = <3>;
		};

		mtimer: machine-timer0@f0020000 {
			reg = <0xF0020000 0x1000>;
			status = "okay";
		};

		uart0: uart0@f0000000 {
			compatible = "hydrogen,uart";
			reg = <0xF0000000 0x1000>;
			status = "okay";
			label = "uart0";
			interrupt-parent = <&plic>;
			interrupts = <0>;
			clock-frequency = <100000000>;
			current-speed = <115200>;
		};

		gpio0: gpio0@f0010000 {
			compatible = "hydrogen,gpio";
			reg = <0xF0010000 0x1000>;
			status = "okay";
			label = "gpio0";
			interrupt-parent = <&plic>;
			interrupts = <1>;
			gpio-controller;
			#gpio-cells = <2>;
		};

		spi0: spi0@f0040000 {
			compatible = "hydrogen,spi";
			reg = <0xF0040000 0x1000>;
			status = "okay";
			label = "spi0";
			interrupt-parent = <&plic>;
			interrupts = <2>;
		};
	};
};
